@font-face {
    font-family: 'Doto-Bold';
    src: url('/kitchenkraft_report_custom_font/static/src/fonts/doto/Doto-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.o_report_layout_standard{
    font-family: 'Doto-Bold', sans-serif;
    color: black;
}