@font-face {
    font-family: 'Lato';
    src: url('/web/static/src/fonts/Lato/Lato-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.custom_invoice_report {
    font-family: 'Open Sans';
}